[Desktop Entry]
Name=Isabelle 2025
Categories=Development;IDE
Encoding=UTF-8
Type=Application
Exec=/app/Isabelle2025 %F
TryExec=/app/Isabelle2025
Terminal=false
StartupNotify=true
MimeType=text/thy

