[Desktop Entry]
Name=Isabelle 2025-RC1
Categories=Development;IDE
Encoding=UTF-8
Type=Application
Exec=/app/Isabelle2025-RC1 %F
TryExec=/app/Isabelle2025-RC1
Terminal=false
StartupNotify=true
MimeType=text/thy

